/* src/CSS/style_registration.css */
@import url('./style_authorization.css'); /* Наследуем базовую карточку из логина */

.reg-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

@media (max-width: 500px) {
    .reg-grid { grid-template-columns: 1fr; }
}