<header class="shop-header">
    <div class="container header-inner">
        <a href="#" id="goHome" class="shop-logo">REUTKUPI</a>
        <div class="header-actions">
            <!-- Добавим кнопку корзины и сюда тоже! -->
            <button class="action-btn" id="openCartBtn">
                <span>🛒</span>
                Корзина
                <div class="cart-badge" id="cartCount">0</div>
            </button>
            <button class="action-btn" id="goBackBtn">⬅ Назад в каталог</button>
        </div>
    </div>
</header>
<main class="container" id="productContainer" style="padding: 40px 15px;">
    <div class="loading-spinner"></div>
</main>